// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'calendar';
@import 'organizer';

// change sizes
$content-width-0: 1200px;

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

details {
  margin: 0 40px 1em;
}

iframe,
summary {
  max-width: 100%;
}

summary {
  @extend .btn, .btn-outline;
}

.main-content-wrap {
  max-width: $content-width-0;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }

  .anchor-heading {
    position: absolute;
    right: -$sp-4;
    width: $sp-5;
    height: 100%;
    padding-right: $sp-1;
    padding-left: $sp-1;
    overflow: visible;

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
      color: $link-color;
      visibility: hidden;
    }
  }
}

.side-bar {
  flex-wrap: wrap;
  position: static;
  width: auto;
  height: auto;
  flex-direction: row;
  border-right: medium none;
  align-items: stretch;
  max-width: $content-width-0;
  margin: auto;
}

.main {
  position: static;
  max-width: none;
  margin-left: 0;
}

.main-content-wrap {
  @include container;

  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-sm;
}

.main-header {
  z-index: 0;
  display: none;
  background-color: $sidebar-color;
  justify-content: flex-start;
  height: auto;
  background-color: transparent;
  border-bottom: medium none;

  &.nav-open {
    display: block;
  }
}

.site-nav,
.site-header,
.site-footer {
  width: 100%;
}

.site-nav {
  @include container; 
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  overflow-y: visible;
  flex: 0 1 auto;

  &.nav-open {
    display: block;
  }
}

.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;

  height: auto;
  max-height: none;
  border-bottom: medium none;
}

.site-title {
  @include container;

  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  padding-top: $sp-3;
  padding-bottom: $sp-3;
  color: $body-heading-color;
  @include fs-6;
}

@include mq(md) {
  .site-header .site-button {
    display: block;
  }
}

body {
  position: relative;
  padding-bottom: $sp-10;
  overflow-y: scroll;
}

.site-footer {
  @include container;

  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  justify-self: auto;
  @include fs-2;
}

.nav-list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-list-item {
    @include fs-4;

    position: relative;
    margin: 0;

    .nav-list-link {
      display: block;
      min-height: $nav-list-item-height-sm;
      padding-top: $sp-1;
      padding-bottom: $sp-1;
      line-height: #{$nav-list-item-height-sm - 2 * $sp-1};
      @if $nav-list-expander-right {
        padding-right: $nav-list-item-height-sm;
        padding-left: $gutter-spacing-sm;
      } @else {
        padding-right: $gutter-spacing-sm;
        padding-left: $nav-list-item-height-sm;
      }

      &.external > svg {
        width: $sp-4;
        height: $sp-4;
        vertical-align: text-bottom;
      }

      &.active {
        font-weight: 600;
        text-decoration: none;
      }

      &:hover,
      &.active {
        background-image: linear-gradient(
          -90deg,
          rgba($feedback-color, 1) 0%,
          rgba($feedback-color, 0.8) 80%,
          rgba($feedback-color, 0) 100%
        );
      }
    }

    .nav-list-expander {
      position: absolute;
      @if $nav-list-expander-right {
        right: 0;
      }

      width: $nav-list-item-height-sm;
      height: $nav-list-item-height-sm;
      padding-top: #{$nav-list-item-height-sm / 4};
      padding-right: #{$nav-list-item-height-sm / 4};
      padding-bottom: #{$nav-list-item-height-sm / 4};
      padding-left: #{$nav-list-item-height-sm / 4};
      color: $link-color;

      &:hover {
        background-image: linear-gradient(
          -90deg,
          rgba($feedback-color, 1) 0%,
          rgba($feedback-color, 0.8) 100%
        );
      }

      @if $nav-list-expander-right {
        svg {
          transform: rotate(90deg);
        }
      }
    }

    > .nav-list {
      display: none;
      padding-left: $sp-3;
      list-style: none;

      .nav-list-item {
        position: relative;

        .nav-list-link {
          color: $nav-child-link-color;
        }

        .nav-list-expander {
          color: $nav-child-link-color;
        }
      }
    }

    &.active {
      > .nav-list-expander svg {
        @if $nav-list-expander-right {
          transform: rotate(-90deg);
        } @else {
          transform: rotate(90deg);
        }
      }

      > .nav-list {
        display: block;
      }
    }
  }
}

.nav-category {
  padding-top: $sp-2;
  padding-right: $gutter-spacing-sm;
  padding-bottom: $sp-2;
  padding-left: $gutter-spacing-sm;
  font-weight: 600;
  text-align: start;
  text-transform: uppercase;
  border-bottom: $border $border-color;
  @include fs-2;
}

.aux-nav {
  height: 100%;
  overflow-x: auto;
  @include fs-2;
  padding-right: 0;

  .aux-nav-list {
    display: flex;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .aux-nav-list-item {
    display: inline-block;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.breadcrumb-nav {
  margin-top: 0;
}
