.organizer {
  display: flex;
  margin: $sp-4;

  .organizer-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
  }

  p,
  .organizer-name {
    margin: $sp-1 !important;
  }

  .organizer-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
  }

  .organizer-meta {
    @extend .text-grey-dk-000;
  }
}
