.speaker {
  display: flex;
  flex-direction: column;
  margin: $sp-4;
  align-items: center;
  text-align: center;

  .speaker-image {
    border-radius: 25%;
    //width: 200px;
    //height: auto;
    height: 200px;
    // width: auto;
    width: 150px;
    margin-bottom: $sp-4;
    display: block;
  }

  p,
  .speaker-name {
    margin: $sp-1 !important;
  }

  .speaker-pronouns {
    @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
  }

  .speaker-meta {
    @extend .text-grey-dk-000;
  }
}
