<!-- <h1>Confirmed Distinguished Speakers</h1>

<div style="clear: both; display: flex; flex-wrap: wrap; justify-content:
  flex-start;">

  {% assign d_speakers = site.speakers | where: 'role', 'Distinguished Speaker' %}
  {% for speaker in d_speakers %}
  {{ speaker }}
  {% endfor %}

</div>

-->

<div style="clear: both; display: flex; flex-wrap: wrap; justify-content:
  flex-start;">

  {% assign speakers = site.speakers %}
  {% for speaker in speakers %}
  {{ speaker }}
  {% endfor %}

</div>
