<div class="organizer" style="width: 310px;">
  {% if page.photo %}
  <img class="organizer-image" src="{{ site.baseurl }}{{ page.subpath }}{{
  page.photo }}" alt="">
  {% endif %}
  <div style="padding: 20px 0;">
    {% if page.website %}
    <h3 class="organizer-name">
      <a href="{{ page.website }}">{{ page.name }}</a>
    </h3>
    {% else %}
    <h3 class="organizer-name">
      {{ page.name }}
    </h3>
    {% endif %}
    {% if page.affiliation %}
    <p>{{ page.affiliation }}</p>
    {% endif %}
    <!-- <p class="organizer-meta">{{ page.tutorial}}</p> --->
    {{ content }}
  </div>
</div>
